.spell-book {
  .config {
    display: flex;
    padding: 0.2em;
    flex-direction: column;
    @media print {
      visibility: hidden;
      height: 0;
    }

    .main {
      display: flex;

      > * {
        padding: 0.5em;
      }
    }

    .buttons {

    }

    .spell-list {display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      grid-template-rows: repeat(5, 1fr);
      overflow: auto;
      width: 98vw;
    }

  }

  .spell-page {
    display: flex;
    flex-wrap: wrap;

    .spell-card {
      font-size: 0.8em;
      border: 0.2em dotted;
      color: #2828ad;
      padding: 1em;
      width: 27em;
      font-family: 'EFN Brawo';
      display: flex;
      height: 36em;
      flex-direction: column;

      > * {
        margin: 0.2em;

        label {
          font-weight: bolder;
          padding-right: 0.5em;
        }
      }

      .name {
        //font-family: 'Buffied';
        font-weight: bolder;
        font-size: 2.5em;
        margin-bottom: 0.4em;
      }

      .row {
        display: flex;
        justify-content: space-between;

        .range {
          min-width: 10em;
          text-align: right;
        }
      }
    }
  }
}
