@font-face {
  font-family: 'Buffied';
  src: url("fonts/BUFFIED.TTF");
}

@font-face {
  font-family: 'Black Castle';
  src: url("fonts/black-castle.ttf")
}

@font-face {
  font-family: 'EFN Brawo';
  src: url("fonts/brawo_.ttf");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-wrap: wrap;
}
